.left-half {
  float: left;
  width: 50%;
}
.right-half {
  float: left;
  width: 50%;
}

.reveal section img { background:none; border:none; box-shadow:none; }
.absoluteblock{
  position: absolute;
}

.leftimage{
  position: absolute;
  top: 150px;
  left: 10px;
  width: 45%;
  heigth: 100%;
  text-align: left;
}

.rightimage{
  position: absolute;
  top: 150px;
  right: 10px;
  width: 45%;
  heigth: 100%;
  text-align: left;
}


.leftlarge{
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  heigth: 100%;
  text-align: left;
}




.leftlarge2{
  position: absolute;
  top: 70px;
  left: -150px;
  width: 100%;
  heigth: 100%;
  text-align: left;
}



.leftlarge3{
  position: absolute;
  top: 70px;
  left: -150px;
  width: 120%;
  heigth: 100%;
  text-align: center;
}


.rightsmall{
  position: absolute;
  top: 90px;
  right: 10px;
  width: 25%;
  heigth: 100%;
  text-align: right;
}



.fullimage{
  position: absolute;
  top: 150px;
  left: 10px;
  width: 80%;
  heigth: 100%;
  text-align: center;
}




.topimage{
  position: absolute;
  top: 150px;
  left: 10px;
  width: 100%;
  heigth: 40%;
  text-align: center;
}

.bottomimage{
  position: absolute;
  top: 350px;
  left: 10px;
  width: 100%;
  heigth: 40%;
  text-align: center;
}



.rightinside{
  position: absolute;
  left: 400px;
  top: 0px;
  width: 50%;
  heigth: 100%;
  text-align: center;
}

.titulo{
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

.relativeblock{
  position: relative;
}

.footnote{
  position: absolute;
  bottom: 100px;
  right: 0px;
  text-align: right;
}



.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none; }
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }




.fake {
	opacity: 1;
	display: inline; }



.reveal.slide .slides > section, .reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: center !important;
}
section > h1, section > h2 {
  position: absolute !important;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  position: relative !important;
}
